{% extends "hogwarts/base.html" %}

{% block title %}Libros de Harry Potter{% endblock %}

{% block content %}
<h1 class="animate__animated animate__backInRight">Los 7 Libros de la Saga Harry Potter</h1>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://m.media-amazon.com/images/I/81YOuOGFCJL.jpg" alt="Piedra Filosofal" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y la piedra filosofal</h3>
        <p>El inicio de la saga, donde Harry descubre que es un mago y entra en Hogwarts por primera vez.</p>
    </div>
</div>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://m.media-amazon.com/images/I/91OINeHnJGL.jpg" alt="Cámara Secreta" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y la cámara secreta</h3>
        <p>Harry enfrenta el misterio de una voz en las paredes y el monstruo que aterroriza a los estudiantes.</p>
    </div>
</div>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://m.media-amazon.com/images/I/81lAPl9Fl0L.jpg" alt="Prisionero de Azkaban" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y el prisionero de Azkaban</h3>
        <p>Conocemos a Sirius Black y viajamos en el tiempo para salvar inocentes.</p>
    </div>
</div>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://www.harrypotter.com/_next/image?url=%2Fimages%2Fproducts%2Fbooks%2FUK%2Frectangle-4.jpg&w=1320&q=75" alt="Cáliz de Fuego" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y el cáliz de fuego</h3>
        <p>Harry compite en el Torneo de los Tres Magos, con un oscuro final que cambia todo.</p>
    </div>
</div>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://www.harrypotter.com/_next/image?url=%2Fimages%2Fproducts%2Fbooks%2FUK%2Frectangle-5.jpg&w=1320&q=75" alt="Orden del Fénix" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y la Orden del Fénix</h3>
        <p>El Ministerio de Magia niega el regreso de Voldemort y Harry debe liderar a sus compañeros.</p>
    </div>
</div>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://m.media-amazon.com/images/I/81t2CVWEsUL.jpg" alt="Misterio del Príncipe" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y el misterio del príncipe</h3>
        <p>Descubrimos más sobre el pasado de Voldemort y la verdadera naturaleza de los Horrocruxes.</p>
    </div>
</div>

<div class="row mb-4 p-3 border rounded shadow-sm">
    <div class="col-md-3">
        <img src="https://www.harrypotter.com/_next/image?url=%2Fimages%2Fproducts%2Fbooks%2FUK%2Frectangle-7.jpg&w=1320&q=75" alt="Reliquias de la Muerte" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h3>Harry Potter y las Reliquias de la Muerte</h3>
        <p>La batalla final contra Voldemort que cierra la saga.</p>
    </div>
</div>

{% endblock %}
