{% extends "hogwarts/base.html" %}

{% block title %}Películas - Hogwarts{% endblock %}

{% block content %}
<h1>Las 8 películas de Harry Potter</h1>

<!-- Harry Potter y la Piedra Filosofal -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg" class="img-fluid" alt="Harry Potter 1">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y la Piedra Filosofal</h3>
        <p>Año: 2001 | Director: Chris Columbus | Sinopsis: Harry descubre que es un mago y empieza su aventura en Hogwarts.</p>
    </div>
</div>

<!-- Harry Potter y la Cámara Secreta -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/3b/Harry_Potter_and_the_Chamber_of_Secrets.jpg" class="img-fluid" alt="Harry Potter 2">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y la Cámara Secreta</h3>
        <p>Año: 2002 | Director: Chris Columbus | Sinopsis: Misteriosos sucesos ocurren en Hogwarts y Harry debe descubrir la verdad detrás de la Cámara Secreta.</p>
    </div>
</div>

<!-- Harry Potter y el Prisionero de Azkaban -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/3f/Harry_Potter_and_the_Prisoner_of_Azkaban.jpg" class="img-fluid" alt="Harry Potter 3">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y el Prisionero de Azkaban</h3>
        <p>Año: 2004 | Director: Alfonso Cuarón | Sinopsis: Harry se enfrenta a peligrosos secretos y conoce a Sirius Black.</p>
    </div>
</div>

<!-- Harry Potter y el Cáliz de Fuego -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/63/Harry_Potter_and_the_Goblet_of_Fire.jpg" class="img-fluid" alt="Harry Potter 4">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y el Cáliz de Fuego</h3>
        <p>Año: 2005 | Director: Mike Newell | Sinopsis: Harry participa en el Torneo de los Tres Magos enfrentando retos mortales.</p>
    </div>
</div>

<!-- Harry Potter y la Orden del Fénix -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4e/Harry_Potter_and_the_Order_of_the_Phoenix.jpg" class="img-fluid" alt="Harry Potter 5">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y la Orden del Fénix</h3>
        <p>Año: 2007 | Director: David Yates | Sinopsis: Harry forma la Armada de Dumbledore y lucha contra la influencia del Ministerio de Magia.</p>
    </div>
</div>

<!-- Harry Potter y el Misterio del Príncipe -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0d/Harry_Potter_and_the_Half-Blood_Prince.jpg" class="img-fluid" alt="Harry Potter 6">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y el Misterio del Príncipe</h3>
        <p>Año: 2009 | Director: David Yates | Sinopsis: Harry descubre más sobre el pasado de Voldemort y se prepara para la batalla final.</p>
    </div>
</div>

<!-- Harry Potter y las Reliquias de la Muerte: Parte 1 -->
<div class="row mt-4">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_1.jpg" class="img-fluid" alt="Harry Potter 7-1">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y las Reliquias de la Muerte: Parte 1</h3>
        <p>Año: 2010 | Director: David Yates | Sinopsis: Harry, Ron y Hermione buscan los Horrocruxes mientras Voldemort gana poder.</p>
    </div>
</div>

<!-- Harry Potter y las Reliquias de la Muerte: Parte 2 -->
<div class="row mt-4 mb-5">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/19/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2.jpg" class="img-fluid" alt="Harry Potter 7-2">
    </div>
    <div class="col-md-8">
        <h3>Harry Potter y las Reliquias de la Muerte: Parte 2</h3>
        <p>Año: 2011 | Director: David Yates | Sinopsis: La batalla final contra Voldemort tiene lugar en Hogwarts, culminando la saga.</p>
    </div>
</div>

{% endblock %}
