{% extends "hogwarts/base.html" %}

{% block title %}Personajes - Hogwarts{% endblock %}

{% block content %}
<h1>Personajes de la saga</h1>

<!-- Harry Potter -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/a0/bc/da/a0bcdaf029a7476bc7835740e234bb82.jpg" class="img-fluid rounded" alt="Harry Potter" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Harry Potter</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">El protagonista de la saga, conocido como “El niño que vivió”. Desde pequeño carga con la marca de Voldemort y el destino de enfrentarlo. Valiente y determinado, se convierte en el héroe central de todos los libros y películas, liderando la resistencia contra las fuerzas oscuras mientras aprende el verdadero valor de la amistad, el sacrificio y el amor.</p>
    </div>
</div>

<!-- Hermione Granger -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/33/21/1c/33211ce56522412901b43dfa1557d94a.jpg" class="img-fluid rounded" alt="Hermione Granger" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Hermione Granger</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Amiga inseparable de Harry y Ron. Inteligente, estudiosa y aplicada, siempre está un paso adelante en las aventuras gracias a su gran conocimiento. Su valentía y firmeza en sus ideales la convierten en una pieza clave en la derrota de Voldemort y en la defensa de la justicia en el mundo mágico.</p>
    </div>
</div>

<!-- Ron Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/ac/cf/ac/accfacb084eebd6fdd2616d36fea8b7a.jpg" class="img-fluid rounded" alt="Ron Weasley" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Ron Weasley</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Mejor amigo de Harry y Hermione. Aunque muchas veces inseguro, demuestra ser leal, valiente y con un gran corazón. Siempre dispuesto a apoyar en los momentos difíciles, acompaña a Harry en casi todas sus batallas y aporta humor y humanidad al grupo..</p>
    </div>
</div>

<!-- Albus Dumbledore -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/de/2e/54/de2e54ea2840394b1316f2cb4fe44ab4.jpg" class="img-fluid rounded" alt="Albus Dumbledore"style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Albus Dumbledore</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Director de Hogwarts y mentor de Harry. Reconocido por su gran sabiduría y poder, guía a los protagonistas en su lucha contra Voldemort. A lo largo de la historia se revela como una figura compleja, cargada de secretos y sacrificios que muestran su humanidad más allá de la imagen de “mago perfecto”.</p>
    </div>
</div>

<!-- Lord Voldemort -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/fc/9c/f8/fc9cf896a4c5c7c005e9fd9800d35b5f.jpg" class="img-fluid rounded" alt="Lord Voldemort"style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Lord Voldemort</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Principal antagonista de la saga. Su obsesión por la inmortalidad y el poder lo llevan a buscar la dominación total del mundo mágico. Conocido por su crueldad y miedo hacia la muerte, representa el lado más oscuro de la magia y se convierte en la amenaza constante que define la vida de Harry.</p>
    </div>
</div>

<!-- Severus Snape -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/f5/00/13/f500134dab5eface131e332561447e8b.jpg" class="img-fluid rounded" alt="Severus Snape" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Severus Snape</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Profesor de Pociones en Hogwarts y uno de los personajes más enigmáticos. Aunque al inicio parece un enemigo, su historia lo revela como un héroe trágico marcado por el amor y el dolor. Finalmente, se convierte en protector de Harry, demostrando una lealtad silenciosa y sorprendente.</p>
    </div>
</div>

<!-- Sirius Black -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/fa/16/6e/fa166ee361323806e6f70bafe57b48ef.jpg" class="img-fluid rounded" alt="Sirius Black" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Sirius Black</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3" >Padrino de Harry y miembro de la Orden del Fénix. Valiente, leal y protector, siempre busca ser una figura paterna para Harry. Sin embargo, su vida está marcada por la injusticia y la tragedia, lo que lo convierte en uno de los personajes más queridos y a la vez más conmovedores.</p>
    </div>
</div>

<!-- Draco Malfoy -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/da/9f/dc/da9fdc64514287375980f15ee511f6c5.jpg" class="img-fluid rounded" alt="Draco Malfoy" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Draco Malfoy</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Rival de Harry en Hogwarts y miembro de Slytherin. Arrogante y orgulloso, pero también atrapado entre las expectativas de su familia y lo que realmente quiere. Aunque antagonista durante gran parte de la historia, muestra momentos de duda que revelan su lucha interna entre el bien y el mal.</p>
    </div>
</div>

<!-- Neville Longbottom -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/15/9a/9b/159a9be747a555600cdd15170046370b.jpg" class="img-fluid rounded" alt="Neville Longbottom" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Neville Longbottom</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Compañero de Gryffindor que al principio se muestra torpe e inseguro. Con el tiempo, demuestra un gran crecimiento personal, convirtiéndose en un líder valiente y pieza clave en la batalla final contra Voldemort. Su evolución lo transforma en un verdadero héroe inesperado.</p>
    </div>
</div>

<!-- Luna Lovegood -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/2d/e4/3f/2de43fe10308ddd4300404c816a7cabd.jpg" class="img-fluid rounded" alt="Luna Lovegood" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Luna Lovegood</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Excéntrica y sabia a su manera, Luna es amiga cercana de Harry. Su forma de ver el mundo la hace única, y aunque muchos la subestiman, demuestra una gran valentía y una lealtad inquebrantable hacia la verdad y sus convicciones.</p>
    </div>
</div>

<!-- Ginny Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/80/3f/ca/803fca9b309ff7cc374d2116838db654.jpg" class="img-fluid rounded" alt="Ginny Weasley" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Ginny Weasley</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Hermana menor de Ron y posteriormente interés amoroso de Harry. A lo largo de la saga muestra un gran crecimiento, pasando de ser tímida a convertirse en una bruja valiente y hábil en la magia, destacando por su fortaleza en la lucha contra Voldemort.</p>
    </div>
</div>

<!-- Fred Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/1d/ee/b0/1deeb06a527200cf80bdb0cf10540b0c.jpg" class="img-fluid rounded" alt="Fred Weasley" style="width:190px; height:240px; object-fit:cover;" >
        <h5 class="mt-2">Fred Weasley</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Los gemelos inseparables de la familia Weasley. Bromistas y creativos, no solo aportan humor en los momentos más oscuros, sino también ingenio y valentía en la batalla. Juntos crean una tienda de artículos mágicos innovadores, demostrando su talento y espíritu emprendedor..</p>
    </div>
</div>

<!-- George Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/f7/63/1c/f7631cf6ad73daa6c66c84028560beb5.jpg" class="img-fluid rounded" alt="George Weasley" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">George Weasley</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Los gemelos inseparables de la familia Weasley. Bromistas y creativos, no solo aportan humor en los momentos más oscuros, sino también ingenio y valentía en la batalla. Juntos crean una tienda de artículos mágicos innovadores, demostrando su talento y espíritu emprendedor.</p>
    </div>
</div>

<!-- Minerva McGonagall -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/4a/38/b3/4a38b32c8247c89b3082212f9ed9b009.jpg" class="img-fluid rounded" alt="Minerva McGonagall" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Minerva McGonagall</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Profesora de Transformaciones y jefa de Gryffindor. Estricta pero justa, siempre vela por sus estudiantes. Su firmeza y liderazgo la convierten en una defensora esencial de Hogwarts y de la causa contra las fuerzas del mal.</p>
    </div>
</div>

<!-- Remus Lupin -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/66/34/2f/66342fa4aca681e3ce18e072f8732e31.jpg" class="img-fluid rounded" alt="Remus Lupin" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Remus Lupin</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Profesor de Defensa Contra las Artes Oscuras y hombre lobo. Sabio y compasivo, Lupin es un mentor importante para Harry, enseñándole sobre la resiliencia y la aceptación de las dificultades personales. También es miembro de la Orden del Fénix y un gran luchador.</p>
    </div>
</div>

<!-- Bellatrix Lestrange -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/af/03/70/af0370999a8c123b9cbf6365027184dd.jpg" class="img-fluid rounded" alt="Bellatrix Lestrange" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Bellatrix Lestrange</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Seguidora fanática de Voldemort. Cruel, sádica y peligrosa, representa el lado más oscuro de la magia. Su lealtad ciega a Voldemort la convierte en una de sus aliadas más letales y temidas.</p>
    </div>
</div>

<!-- Lucius Malfoy -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/6b/8f/14/6b8f14ac5eaf7e5f5de73607c84f8a87.jpg" class="img-fluid rounded" alt="Lucius Malfoy" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Lucius Malfoy</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Padre de Draco y miembro influyente de la nobleza mágica. Arrogante y manipulador, utiliza su posición para apoyar a Voldemort. Aunque proyecta poder, a lo largo de la saga se muestra que también está gobernado por el miedo.</p>
    </div>
</div>

<!-- Dolores Umbridge -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/77/15/29/7715298b32e343a9ec29deebb24156b8.jpg" class="img-fluid rounded" alt="Dolores Umbridge" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Dolores Umbridge</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Funcionaria del Ministerio de Magia y profesora en Hogwarts. Conocida por su carácter cruel, manipulador y abusivo, representa la corrupción y el abuso de poder dentro de las instituciones mágicas.</p>
    </div>
</div>

<!-- Dobby -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/cc/c2/54/ccc2545ce9496bffcab60fa20e27d9eb.jpg" class="img-fluid rounded" alt="Dobby" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Dobby</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Elfo doméstico que se convierte en uno de los más leales aliados de Harry. Valiente y noble, ayuda en momentos decisivos, llegando incluso a sacrificarse por la libertad y el bienestar de los demás.</p>
    </div>
</div>

<!-- Cedric Diggory -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/736x/0e/bc/ab/0ebcab68d88595b21eee07dd955154e3.jpg" class="img-fluid rounded" alt="Cedric Diggory" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Cedric Diggory</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Estudiante de Hufflepuff, justo y honorable. Participa en el Torneo de los Tres Magos y se convierte en un ejemplo de deportividad y valentía. Su destino trágico marca un punto crucial en la historia y en la lucha de Harry contra Voldemort.</p>
    </div>
</div>

<!-- Cho Chang -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://i.pinimg.com/1200x/2b/6a/97/2b6a977650a819c9a965d793af479d70.jpg" class="img-fluid rounded" alt="Cho Chang" style="width:190px; height:240px; object-fit:cover;">
        <h5 class="mt-2">Cho Chang</h5>
    </div>
    <div class="col-md-9">
        <p class="fs-3">Estudiante de Ravenclaw y primer interés amoroso de Harry. Compasiva y valiente, atraviesa momentos de dolor tras la pérdida de seres queridos, pero aún así participa activamente en la resistencia contra Voldemort.</p >
    </div>
</div>

<!-- Fred & George adicionales, etc. -->
<!-- Puedes agregar más según necesites -->

{% endblock %}
