{% extends "hogwarts/base.html" %}

{% block title %}Personajes - Hogwarts{% endblock %}

{% block content %}
<h1>Personajes de la saga</h1>

<!-- Harry Potter -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/6f/Harry_Potter_character_poster.jpg" class="img-fluid rounded" alt="Harry Potter">
        <h5 class="mt-2">Harry Potter</h5>
    </div>
    <div class="col-md-9">
        <p>El protagonista de la saga. Conocido como "El niño que vivió", lucha contra Voldemort desde pequeño y es el héroe central en todos los libros y películas.</p>
    </div>
</div>

<!-- Hermione Granger -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/d9/Hermione_Granger_character_poster.jpg" class="img-fluid rounded" alt="Hermione Granger">
        <h5 class="mt-2">Hermione Granger</h5>
    </div>
    <div class="col-md-9">
        <p>Amiga inseparable de Harry y Ron. Inteligente, valiente y aplicada, desempeña un papel crucial en todas las aventuras y derrotas de Voldemort.</p>
    </div>
</div>

<!-- Ron Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/5f/Ron_Weasley_character_poster.jpg" class="img-fluid rounded" alt="Ron Weasley">
        <h5 class="mt-2">Ron Weasley</h5>
    </div>
    <div class="col-md-9">
        <p>Mejor amigo de Harry y Hermione. Leal y valiente, siempre dispuesto a ayudar en la lucha contra el mal.</p>
    </div>
</div>

<!-- Albus Dumbledore -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Albus_Dumbledore_character_poster.jpg" class="img-fluid rounded" alt="Albus Dumbledore">
        <h5 class="mt-2">Albus Dumbledore</h5>
    </div>
    <div class="col-md-9">
        <p>Director de Hogwarts y mentor de Harry. Conocido por su sabiduría y poder, guía a los protagonistas en su lucha contra Voldemort.</p>
    </div>
</div>

<!-- Lord Voldemort -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/18/Lord_Voldemort_character_poster.jpg" class="img-fluid rounded" alt="Lord Voldemort">
        <h5 class="mt-2">Lord Voldemort</h5>
    </div>
    <div class="col-md-9">
        <p>Principal antagonista de la saga. Su obsesión por la inmortalidad y el poder lo lleva a buscar la dominación total del mundo mágico.</p>
    </div>
</div>

<!-- Severus Snape -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/d2/Severus_Snape_character_poster.jpg" class="img-fluid rounded" alt="Severus Snape">
        <h5 class="mt-2">Severus Snape</h5>
    </div>
    <div class="col-md-9">
        <p>Profesor de Pociones en Hogwarts. Inicialmente ambiguo, finalmente se revela como un héroe trágico y protector de Harry.</p>
    </div>
</div>

<!-- Sirius Black -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/2e/Sirius_Black_character_poster.jpg" class="img-fluid rounded" alt="Sirius Black">
        <h5 class="mt-2">Sirius Black</h5>
    </div>
    <div class="col-md-9">
        <p>Padrino de Harry y miembro de la Orden del Fénix. Valiente, leal y protector, aunque su vida está marcada por la tragedia.</p>
    </div>
</div>

<!-- Draco Malfoy -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/8/8b/Draco_Malfoy_character_poster.jpg" class="img-fluid rounded" alt="Draco Malfoy">
        <h5 class="mt-2">Draco Malfoy</h5>
    </div>
    <div class="col-md-9">
        <p>Rival de Harry en Hogwarts y miembro de Slytherin. Arrogante y orgulloso, pero atrapado entre el bien y el mal.</p>
    </div>
</div>

<!-- Neville Longbottom -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/f0/Neville_Longbottom_character_poster.jpg" class="img-fluid rounded" alt="Neville Longbottom">
        <h5 class="mt-2">Neville Longbottom</h5>
    </div>
    <div class="col-md-9">
        <p>Compañero de Gryffindor. Al principio torpe, termina demostrando un gran valor y liderazgo en la batalla final.</p>
    </div>
</div>

<!-- Luna Lovegood -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/7e/Luna_Lovegood_character_poster.jpg" class="img-fluid rounded" alt="Luna Lovegood">
        <h5 class="mt-2">Luna Lovegood</h5>
    </div>
    <div class="col-md-9">
        <p>Excentricidad y sabiduría en una sola persona. Amiga de Harry y defensora de la verdad, siempre fiel a sus convicciones.</p>
    </div>
</div>

<!-- Ginny Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c6/Ginny_Weasley_character_poster.jpg" class="img-fluid rounded" alt="Ginny Weasley">
        <h5 class="mt-2">Ginny Weasley</h5>
    </div>
    <div class="col-md-9">
        <p>Hermana menor de Ron y posteriormente interés amoroso de Harry. Valiente y habilidosa en la magia.</p>
    </div>
</div>

<!-- Fred Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/9/90/Fred_Weasley_character_poster.jpg" class="img-fluid rounded" alt="Fred Weasley">
        <h5 class="mt-2">Fred Weasley</h5>
    </div>
    <div class="col-md-9">
        <p>Uno de los gemelos Weasley, bromista y empresario. Siempre aporta humor y valor en la lucha contra Voldemort.</p>
    </div>
</div>

<!-- George Weasley -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/8/81/George_Weasley_character_poster.jpg" class="img-fluid rounded" alt="George Weasley">
        <h5 class="mt-2">George Weasley</h5>
    </div>
    <div class="col-md-9">
        <p>Gemelo de Fred, igualmente bromista y valiente. Juntos crean su negocio de artículos mágicos innovadores.</p>
    </div>
</div>

<!-- Minerva McGonagall -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b2/Minerva_McGonagall_character_poster.jpg" class="img-fluid rounded" alt="Minerva McGonagall">
        <h5 class="mt-2">Minerva McGonagall</h5>
    </div>
    <div class="col-md-9">
        <p>Profesora de Transformaciones y jefa de Gryffindor. Estricta pero justa, siempre apoya a los estudiantes y la causa del bien.</p>
    </div>
</div>

<!-- Remus Lupin -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c9/Remus_Lupin_character_poster.jpg" class="img-fluid rounded" alt="Remus Lupin">
        <h5 class="mt-2">Remus Lupin</h5>
    </div>
    <div class="col-md-9">
        <p>Profesor de Defensa Contra las Artes Oscuras y hombre lobo. Sabio y compasivo, mentor de Harry y miembro de la Orden del Fénix.</p>
    </div>
</div>

<!-- Bellatrix Lestrange -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/44/Bellatrix_Lestrange_character_poster.jpg" class="img-fluid rounded" alt="Bellatrix Lestrange">
        <h5 class="mt-2">Bellatrix Lestrange</h5>
    </div>
    <div class="col-md-9">
        <p>Seguidora fanática de Voldemort. Cruel, sádica y peligrosa, representa el lado oscuro y la amenaza constante en la saga.</p>
    </div>
</div>

<!-- Lucius Malfoy -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/42/Lucius_Malfoy_character_poster.jpg" class="img-fluid rounded" alt="Lucius Malfoy">
        <h5 class="mt-2">Lucius Malfoy</h5>
    </div>
    <div class="col-md-9">
        <p>Padre de Draco. Arrogante y manipulador, influye en la historia como miembro de la nobleza mágica y seguidor de Voldemort.</p>
    </div>
</div>

<!-- Dolores Umbridge -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/25/Dolores_Umbridge_character_poster.jpg" class="img-fluid rounded" alt="Dolores Umbridge">
        <h5 class="mt-2">Dolores Umbridge</h5>
    </div>
    <div class="col-md-9">
        <p>Funcionaria del Ministerio de Magia y profesora en Hogwarts. Cruel, manipuladora y abusiva de su autoridad.</p>
    </div>
</div>

<!-- Dobby -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/e/eb/Dobby_character_poster.jpg" class="img-fluid rounded" alt="Dobby">
        <h5 class="mt-2">Dobby</h5>
    </div>
    <div class="col-md-9">
        <p>El elfo doméstico leal y valiente. Ayuda a Harry en momentos cruciales, sacrificándose por la libertad de los demás.</p>
    </div>
</div>

<!-- Cedric Diggory -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0e/Cedric_Diggory_character_poster.jpg" class="img-fluid rounded" alt="Cedric Diggory">
        <h5 class="mt-2">Cedric Diggory</h5>
    </div>
    <div class="col-md-9">
        <p>Estudiante de Hufflepuff, justo y valiente. Participa en el Torneo de los Tres Magos y muere enfrentando a Voldemort.</p>
    </div>
</div>

<!-- Cho Chang -->
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/24/Cho_Chang_character_poster.jpg" class="img-fluid rounded" alt="Cho Chang">
        <h5 class="mt-2">Cho Chang</h5>
    </div>
    <div class="col-md-9">
        <p>Estudiante de Ravenclaw y interés amoroso de Harry. Compasiva y valiente, participa activamente en la lucha contra Voldemort.</p>
    </div>
</div>

<!-- Fred & George adicionales, etc. -->
<!-- Puedes agregar más según necesites -->

{% endblock %}
